

$color-main-blue: #22264b;
$color-main-red: #b56969;
$color-main-red-lighter: #f36969;
$color-main-cream: #eeefe5;
$color-main-yellow: #e6cf8b;
$color-main-grey: #e8edf3;
$color-white: #fff;

$color-dark-grey-1: #777;
$color-dark-grey-2: #999;
$color-dark-grey-3: #333;

$color-main-dark-purple: #290a39;
