.short-description{
    width: 100%;
    background-color: $color-white;


    &--column{
        float:left;
        width: 50%;
        @media only screen and (max-width: 1400px){
            float: none;
            width: 100%;
            margin: 0 auto;
        }


        &--h2{
            text-align: center;
            font-size: 3rem;
            margin-bottom: 2rem;
            color: $color-dark-grey-3;
            font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
            font-style: italic;

            @media only screen and (max-width: 1000px){
                font-size: 2rem;


            }


        }

        &__left{
            padding: 2rem 8rem;
            text-align: justify;


            &--text{
                margin-bottom: .8rem;
                & span{
                    color: $color-main-red-lighter;
                    font-weight: bold;
                }

                @media only screen and (max-width: 1000px){
                    font-size: 1.2rem;


                }

            }

            @media only screen and (max-width: 600px){
                font-size: 1.2rem;
                padding: 1rem 3rem;



            }



        }
        &__right{
            overflow: hidden;
            &--img{
                max-width: 100%;
                float:right;
            }

            @media only screen and (max-width: 87.5rem){
                display: none;
            }

        }
    }

    &::after{
        content: "";
        display: table;
        clear: both;
    }

}
